/* PRELOADER */
.preloader-bg {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.preloader {
  animation: loader-anim 3s infinite linear;
}
@keyframes loader-anim {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}

/* ------- */

/* BANNER SECTION */
.banner {
  max-width: 250px;
}
.logo {
  width: 35px;
  height: 35px;
}
/* -------- */

/* NAVBAR */
.navbar-shadow-border {
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1);
}
.navbar-shadow-border ul li a {
  transition: 0.6s ease-in-out;
}
.navbar-shadow-border ul li a:hover {
  -webkit-text-stroke-width: 0.6px;
}
.nav-hidden {
  transition: 0.6s ease-in-out;
  position: fixed;
  right: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  z-index: 3;
}
.nav-open {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  transition: 0.6s ease-out !important;
  z-index: 3;
}
.hamburger {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: black;
  z-index: 10;
}
.hamburger-2 {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
}
.hamburger-2 .bar:nth-child(2) {
  width: 26px;
  border-radius: 18px;
  z-index: 10;
}
.hamburger-2 .bar:nth-child(1) {
  transform: translateY(-7px) rotate(42deg) translateX(15px);
  width: 18px;
  border-radius: 18px;
  z-index: 10;
}
.hamburger-2 .bar:nth-child(3) {
  transform: translateY(7px) rotate(-42deg) translateX(15px);
  width: 18px;
  border-radius: 18px;
  z-index: 10;
}
/* ------ */

/* PRODUCT DETAILS */
.opacity-60 {
  opacity: 60%;
}
.quantity-box {
  border: 1px solid #e8e8e8;
  border-radius: 21px;
  width: 108px;
  height: 45px;
}
.btn-add-to-art {
  width: 181px;
  height: 45px;
  border: 2px solid var(--color-green);
  transition: 0.4s ease-in-out;
}
.btns-hover:hover {
  background-color: #fff;
  color: var(--color-green) !important;
}
.size-box {
  width: 117px;
  height: 46px;
  border: 1px solid #e8e8e8;
}
select.shoes {
  background-image: url("/src/assets/svg/dropdownArrow.svg") !important;
  background-position: calc(100% - 15px) 18px, calc(100% - 20px) 1em, 100% 0;
  background-size: 14px 8px;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
select {
  appearance: none !important;
}
.color-box-container {
  border: 1px solid #d5d5d5;
  border-radius: 2px;
}
.red-box {
  height: 30px;
  width: 29px;
  background: #cc111c;
}
.pastel-box {
  height: 30px;
  width: 29px;
  background: #aa9e78;
}
.black-box {
  height: 30px;
  width: 29px;
  background: #16141f;
}
.grey-box {
  height: 30px;
  width: 29px;
  background: #808082;
}
.red-jordan {
  width: 100%;
}
.similar-shoes {
  width: 100%;
}
/* ------------ */

/* You can buy the Nike Air Max 97 Men's Shoe - White here: */
.btn-best-price {
  width: 70px;
  height: 19px;
  background: var(--color-green);
  border: 0.311111px solid var(--color-green);
  border-radius: 6px;
  color: white;
}
.size-info-btn {
  width: 80px;
  height: 38px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  transition: 0.3s ease-in-out;
}
.size-info-btn:hover {
  background: var(--color-light-dark);
  color: #fff;
}
.nike-air-max-card {
  box-shadow: 8px 16px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.6s ease-in-out;
}
.nike-air-max-card:hover {
  transform: translateY(-3%);
}
.locker-nl:hover {
  color: var(--color-blue);
}
/* --------- */

/* DESCRIPTION / ADDITIONAL INFORMATION / REVIEWS (1) */
.active-tab {
  color: var(--color-red);
}
.active-tab::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border: 1px solid var(--color-red);
  background-color: var(--color-red);
  left: 0;
  top: 115%;
}
.addition-information::after {
  content: "";
  position: absolute;
  width: 205px;
  height: 3px;
  border: 1px solid var(--color-red);
  background-color: var(--color-red);
  left: 0;
  top: 115%;
}
/* -------- */

/* RELATED PRODUCTS */
.related-products-cards {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 17px;
}
.pointer {
  cursor: pointer;
}
.current-page-box-active {
  width: 50px;
  height: 50px;
  background: #ff4400;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
  color: #fff;
}
.current-page-box-non-active {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 3px 5px 22px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  color: var(--color-light-black-2);
}
.btn-next {
  border: 1px solid #9c9c9c;
  border-radius: 9px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.btn-next:hover {
  border: 1px solid #ff4400;
  border-radius: 9px;
  background-color: #ff4400;
  color: #ffffff;
}
.shopping-cart {
  transition: 0.4s ease-in-out;
}
.shopping-cart:hover {
  transform: translateY(-5%);
}
/* ------- */

/* FOOTER */
.opacity-70 {
  opacity: 70%;
}
.footer ul li a {
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
  opacity: 95%;
}
.social-sites-logo {
  transition: 0.4s ease-in-out;
}
.social-sites-logo:hover {
  transform: translateY(-15%);
}
/* ----- */

@media (min-width: 576px) {
  .banner {
    max-width: 402px;
    height: 55px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .red-jordan {
    width: 450px;
  }
  .similar-shoes {
    width: 120px;
    height: 100%;
  }
  .current-page-box-active {
    width: 59px;
    height: 59px;
  }
  .current-page-box-non-active {
    width: 59px;
    height: 59px;
  }
}
@media (min-width: 768px) {
  .banner {
    max-width: 492px;
    height: 65px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .nav-hidden {
    display: none;
  }
  .similar-shoes {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .banner {
    max-width: 692px;
    height: 85px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 1200px) {
  .red-jordan {
    width: 100%;
    height: 450px;
  }
  .size-info-btn {
    width: 71px;
    height: 35px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 40px;
  }
}
@media (min-width: 1400px) {
  .red-jordan {
    width: 624px;
    height: 588px;
  }
  .size-info-btn {
    width: 84px;
    height: 38px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 40px;
  }
}
